<mat-card>
  <mat-card-content>
    <span class="main-text">List:</span>

    <div [formGroup]="todoForm">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          (dateChange)="onDate($event)"
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          formControlName="task"
          placeholder="Write text here"
          class="textareafull"
          name="inputValue"
        />
      </mat-form-field>
      <span class="example-spacer"></span>
      <button
        mat-raised-button
        color="primary"
        [disabled]="todoForm.invalid"
        (click)="addItem()"
        class="button-add"
      >
        Add
      </button>
    </div>
    <mat-list *ngFor="let task of tasks | async; let i = index" color="primary">
     
      <mat-list role="list" class="item" *ngFor="let e of events">
        <mat-list-item class="item_flex">
          <span [ngClass]="{ completed: task.completed }" class="valueTodo">{{
            task.title
          }}</span>
        </mat-list-item>
          <mat-list-item>
          {{ e }}
          </mat-list-item>
      
        <mat-list-item class="Item_flex">
          <input type="checkbox" (change)="completeTask($event.target, i)" />
        </mat-list-item>
      </mat-list>
      <button
        mat-stroked-button
        class="button-archive"
        (click)="archive(task.id)"
      >
        Archive
        <mat-icon>archive</mat-icon>
      </button>
    </mat-list>
  </mat-card-content>
</mat-card>
