<mat-card>
  <mat-card-content>
    <span class="main-text">Archive:</span>

    <mat-list *ngFor="let task of results" color="primary">
      <mat-list-item class="item_flex">
        <span class="valueTodo">{{ task.title }}</span>
        <button
          mat-stroked-button
          class="button-delete"
          color="warn"
          (click)="deleteItem(task.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
