<mat-toolbar color="primary">
  <span class="fill-remaining-space"> Task Manager</span>
</mat-toolbar>

<nav class="app-container">
  <a
    mat-raised-button
    [ngClass]="{ active: activeTab === 'list' }"
    [routerLink]="['/list']"
    routerLinkActive="active"
    color="secondary"
    >Tasks</a
  >
  <a
    mat-raised-button
    [ngClass]="{ active: activeTab === 'archive' }"
    [routerLink]="['/archive']"
    routerLinkActive="active"
    color="secondary"
  >
    Archive
  </a>
</nav>
<router-outlet></router-outlet>
